@using Microsoft.AspNetCore.Identity
@using ORBE_WMS.Domain.Entities
@using ORBE_WMS.Infrastructure.Persistence

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
            <i class="bi bi-person me-2"></i> Perfil
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Email">
            <i class="bi bi-envelope me-2"></i> Email
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">
            <i class="bi bi-key me-2"></i> Senha
        </NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ExternalLogins">
                <i class="bi bi-link me-2"></i> Logins Externos
            </NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-2"></i> Autenticação 2FA
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Passkeys">
            <i class="bi bi-usb-drive me-2"></i> Passkeys
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/PersonalData">
            <i class="bi bi-database me-2"></i> Dados Pessoais
        </NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
